env/*
!env/README.md
!env/.env.example

picref/*
!picref/README.md

logs/*
!logs/README.md

departments/*/outputs/*
!departments/*/outputs/README.md

projects/*/outputs/*
!projects/*/outputs/README.md
projects/*/logs/*
!projects/*/logs/README.md

**/__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

